{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Values.service | lower | quote }}
  labels:
    app.kubernetes.io/name: {{ .Values.service | lower | quote }}
    app.kubernetes.io/part-of: {{ .Values.system | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: {{ .Values.service | lower | quote }}
      app.kubernetes.io/part-of: {{ .Values.system | quote }}
      app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
  ingress:
  - {}
  egress:
  - {}
  policyTypes:
  - Egress
  - Ingress
{{- end }}
