apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "vertx.fullname" . }}
  labels:
    {{- include "vertx.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "vertx.selectorLabels" . | nindent 6 }}
  strategy:
    type: {{ .Values.common.updateStrategy }}
    rollingUpdate:
      maxUnavailable: {{ .Values.common.maxUnavailable }}
      maxSurge: {{ .Values.common.maxSurge }}
  template:
    metadata:
      labels:
        {{- include "vertx.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: REDIS_URL
              value: "{{ .Values.redis.configMap.redisUrl }}"
            - name: PORT
              value: "{{ .Values.service.port }}"
          envFrom:
            - secretRef:
                name: {{ .Values.secret.name }}
            {{- if .Values.configMap.create }}
            - configMapRef:
                name: {{ .Values.configMap.name }}
            {{- end }}
          ports:
            - name: {{ .Values.service.portName }}
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              port: {{ .Values.service.port }}
              path: {{ .Values.readinessProbe.path }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          {{- end }}
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              port: {{ .Values.service.port }}
              path: {{ .Values.livenessProbe.path }}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
#          volumeMounts:
#          - name: {{ .Values.redis.name }}-data
#            mountPath: {{ .Values.volume.mountPath }}
#      volumes:
#      - name: {{ .Values.redis.name }}-data
#        persistentVolumeClaim:
#          claimName: {{ .Values.redis.name }}-pv-{{ .Values.redis.name }}-0