{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
  labels:
    {{- include "vertx.labels" . | nindent 4 }}
  annotations:
    cloud.google.com/app-protocols: {{ .Values.service.annotations.app-protocols }}
    cloud.google.com/neg: {{ .Values.service.annotations.ingress }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: {{ .Values.service.portName }}
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
    - name: {{ .Values.service.https.portName }}
      port: {{ .Values.service.https.port }}
      targetPort: {{ .Values.service.port }}
    - name: {{ .Values.service.http.portName }}
      port: {{ .Values.service.http.port }}
      targetPort: {{ .Values.service.port }}
  selector:
    {{- include "vertx.selectorLabels" . | nindent 4 }}
{{- end }}